<div>
    <h2 id="page-heading">
        <span jhiTranslate="ibondgeneApp.reouverture.home.title">Reouvertures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reouverture" [routerLink]="['/reouverture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ibondgeneApp.reouverture.home.createLabel">
            Create a new Reouverture
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reouvertures?.length === 0">
        <span jhiTranslate="ibondgeneApp.reouverture.home.notFound">No reouvertures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reouvertures && reouvertures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.codeValeur">Code Valeur</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.designationFr">Designation Fr</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.designationEn">Designation En</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.designationPt">Designation Pt</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.dateEmission">Date Emission</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.tauxInteret">Taux Interet</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.encoursEmission">Encours Emission</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.uniteVolume">Unite Volume</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.montantSollicite">Montant Sollicite</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.uniteMontant">Unite Montant</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.devise">Devise</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.dateEcheance">Date Echeance</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.dateValeur">Date Valeur</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.operateur">Operateur</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.dateOperation">Date Operation</span></th>
                    <th scope="col" ><span jhiTranslate="ibondgeneApp.reouverture.emission">Emission</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reouverture of reouvertures ;trackBy: trackId">
                    <td><a [routerLink]="['/reouverture', reouverture.id, 'view']">{{ reouverture.id }}</a></td>
                    <td>{{ reouverture.codeValeur }}</td>
                    <td>{{ reouverture.designationFr }}</td>
                    <td>{{ reouverture.designationEn }}</td>
                    <td>{{ reouverture.designationPt }}</td>
                    <td>{{ reouverture.dateEmission | date:'mediumDate' }}</td>
                    <td>{{ reouverture.tauxInteret }}</td>
                    <td>{{ reouverture.encoursEmission }}</td>
                    <td jhiTranslate="{{ 'ibondgeneApp.UniteNombre.' + reouverture.uniteVolume }}">{{ reouverture.uniteVolume }}</td>
                    <td>{{ reouverture.montantSollicite }}</td>
                    <td jhiTranslate="{{ 'ibondgeneApp.UniteNombre.' + reouverture.uniteMontant }}">{{ reouverture.uniteMontant }}</td>
                    <td jhiTranslate="{{ 'ibondgeneApp.TypeValeur.' + reouverture.devise }}">{{ reouverture.devise }}</td>
                    <td>{{ reouverture.dateEcheance | date:'mediumDate' }}</td>
                    <td>{{ reouverture.dateValeur | date:'mediumDate' }}</td>
                    <td>{{ reouverture.operateur }}</td>
                    <td>{{ reouverture.dateOperation | date:'medium' }}</td>
                    <td>
                        <div *ngIf="reouverture.emissionId">
                            <a [routerLink]="['/emission', reouverture.emissionId , 'view']" >{{ reouverture.emissionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reouverture', reouverture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reouverture', reouverture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reouverture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
