<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-adjudication-heading" jhiTranslate="ibondgeneApp.adjudication.home.createOrEditLabel">Create or edit a Adjudication</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.rang" for="field_rang">Rang</label>
                    <input type="number" class="form-control" name="rang" id="field_rang"
                           formControlName="rang"/>
                    <div *ngIf="editForm.get('rang')!.invalid && (editForm.get('rang')!.dirty || editForm.get('rang')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rang')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rang')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rang')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.observationFr" for="field_observationFr">Observation Fr</label>
                    <input type="text" class="form-control" name="observationFr" id="field_observationFr"
                           formControlName="observationFr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.observationEn" for="field_observationEn">Observation En</label>
                    <input type="text" class="form-control" name="observationEn" id="field_observationEn"
                           formControlName="observationEn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.observationPt" for="field_observationPt">Observation Pt</label>
                    <input type="text" class="form-control" name="observationPt" id="field_observationPt"
                           formControlName="observationPt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.reouverture" for="field_reouverture">Reouverture</label>
                    <select class="form-control" id="field_reouverture" name="reouverture" formControlName="reouvertureId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reouvertureOption.id" *ngFor="let reouvertureOption of reouvertures; trackBy: trackById">{{ reouvertureOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.rachat" for="field_rachat">Rachat</label>
                    <select class="form-control" id="field_rachat" name="rachat" formControlName="rachatId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rachatOption.id" *ngFor="let rachatOption of rachats; trackBy: trackById">{{ rachatOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ibondgeneApp.adjudication.onc" for="field_onc">Onc</label>
                    <select class="form-control" id="field_onc" name="onc" formControlName="oncId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="oncOption.id" *ngFor="let oncOption of oncs; trackBy: trackById">{{ oncOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
